#next-button, #previous-button {
    padding: 10px 5px;
    background-color: #2770e5;
    color: white;
    margin: 30px 10px;
}

#planet-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.table-header {
    font-weight: bold;
    background-color: gray;
    border: 2px solid black;
}

.table-data {
    border: 2px solid gray;
    padding: 10px 5px;
}

.table-row {
    border: 2px solid gray;
}

.main-container {
    max-width: 1000px;
}