<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="static/api.js" defer></script>
    <script type="text/javascript" src="static/dom.js" defer></script>
    <script type="text/javascript" src="static/main.js" defer></script>
    <title>API Wars</title>
</head>
<body>
    <div class="main-container">
        <h1>Star Wars universe planets</h1>
        <button id="previous-button">Previous</button>
        <button id="next-button">Next</button>        
        <div class="table-container">
            <table id="planet-table">
                <thead>
                    <th class="table-header">Name</th>
                    <th class="table-header">Diameter</th>
                    <th class="table-header">Climate</th>
                    <th class="table-header">Terrain</th>
                    <th class="table-header">Surface Water Percentage</th>
                    <th class="table-header">Population</th>
                    <th class="table-header">Residents</th>
                    <th class="table-header"></th>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>