<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <title>API Wars Registration</title>
</head>
<body>
    <div class="form-container">
        <h3 id="errormessage">{{error_msg}}</h3>
        <form action="{{eventUrl}}" method="post">
            <label>Username: </label><input name="username" type="text"><br>
            <label>Password: </label><input name="password" type="password" maxlength="25"><br>
            <input type="submit" value="{{'Register' if eventUrl == '/register_user' else 'Login'}}">
        </form>
    </div>
</body>
</html>